$colors: (
  primary: #3ba4ce,
  secondary: #275d8c,
  grey000: #fff,
  grey100: #f8f8f8,
  grey150: #f0f0f0,
  grey200: #d8d8d8,
  grey250: #e2e1e1,
  grey300: #d3d3d3,
  grey350: #dddcdc,
  grey400: #c4c4c4,
  grey800: #666666,
  grey900: #545454,
  grey950: #333333,
);
